/.vs
/packages/Newtonsoft.Json.12.0.3
/Lab14/bin/Debug
/Lab15/bin/Debug
/Lab15/obj/Debug
/Lab01/bin/Debug/notcoreapp3.1
/Lab01/obj/Debug/
/Lab03/obj
/Lab04/obj
/Lab05/obj
/Lab10/obj
/Lab12/obj
/Lab13/obj
/Lab14/obj
/S2_Lab01/obj/Debug
/S2_Lab01/bin/Debug
/S2_Lab02/obj/Debug
